*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif ;
    font-size: 1rem;
}


.container {
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        'h h h'
        's c c'
        's f f';

    gap: 5px;
    width: 100vw;
    height: 100vh;
}

.header {
    grid-area: h;
    direction: rtl;
    background-color: #f2e9de;
    color:#286983 ;
}

.sidebar {
    grid-area: s;
    background-color: #f2e9de;
    color:#286983 ;
}

.content {
    grid-area: c;
    background-color: #f2e9de;
    color:#286983 ;
    padding: 10px;
}

.footer {
    grid-area: f;
    background-color: #f2e9de;
    color:#286983 ;
    text-align: center;
    padding: 1rem;
}

.buttons {
    border: none;
    padding: 0 20px;
    text-align: center;
    color: #286983;
    border-radius: 10px;
    background-color: #f2e9de;
}

.buttons:hover {
    background-color:#9ccfd8 ;
}

.top {
    display: flex;
    flex-direction: row;
}

li {
    padding: 15px;
    list-style-type: none;    
}



.dark {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    outline:none;
    outline-color: #fffaf3;
    background-color: #575279;
    position:absolute;
    top: 15px; 
    right: 140px;
}

.toggle_dark_button {
    background-color: #f6c177;;
}


.toggle-dark {
    background-color: #555169;
    color: #faf4ed;
}

.box {
    margin: 10px;
    max-width: 500px;
    color: #286983;
}

#contentNote {
    padding: 10px;
    max-width: 600px;
}

[contenteditable] {
    font-size: 25px;
    padding: 5px;
    background-color: #faf4ed;
    color:#31748f;
}


[contenteditable] > div {
    font-size: 18px;
    color: #393552;
}

[contenteditable]:focus {
    outline: none;
}

#deleteButton {
    font-size: 18px;
    padding-top: 5px;
    border: none;
    margin: 5px;
    background-color:#f2e9de ;
    color:#286983;
}

#deleteButton:hover {
    background-color: #f6c177;
}

#saveButton {
    font-size: 18px;
    padding-top: 5px;
    border: none;
    background-color:#f2e9de ;
    color:#286983;
}

#saveButton:hover {
    background-color: #f6c177;
}

#saveButtonDark {
    font-size: 18px;
    padding-top: 5px;
    border: none;
    margin: 5px;
    background-color:#191724;
    color:#faf4ed;
}

#titleNote {
    padding: 20px;
    color: #286983;
}

#title {
    list-style: none;
    padding: 10px;
}

.viewNotesBtn {
    background-color: #faf4ed;
    color:#286983;
    font-size: 25px;
    align-self: center;
}

.viewNotesBtn:hover {
    background-color: #9ccfd8;
}

.fa-angle-double-right {
    margin-left: 200px;
}

#view-note {
    padding: 10px;
    max-width: 600px;
}

.fa-trash-alt {
    color: #eb6f92;
}

.text_note {
    max-width: 600px;
    padding: 5px;
}

@media screen and (max-width: 580px){
    .container {
        display: grid;
        grid-template-rows: 2rem 1fr 2rem;
        grid-template-columns: 100px 1fr;
        grid-template-areas: 
            'h h h'
            's c c'
            's f f';
    
        gap: 5px;
        width: 100vw;
        height: 100vh;
    }

    p {
        font-size: 15px;
    }

    .fa-angle-double-right {
        margin-left: 80px;
    }

    li {
        padding: 5px;
    }

    .dark {
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        outline:none;
        outline-color: #fffaf3;
        background-color: #575279;
        position:absolute;
        top: 5px; 
        right: 100px;
        
    }

    .toggle_dark_button {
    background-color: #f6c177;;
}


    .viewNotesBtn {
        background-color: #faf4ed;
        color:#286983;
        font-size: 15px;
        align-self: center;
    }
    
    [contenteditable] {
        font-size: 15px;
        background-color: #faf4ed;
        color:#31748f;
    }
    
    
    [contenteditable] > div {
        font-size: 10px;
        color: #393552;
    }

    #saveButton {
        font-size: 15px;
        padding-top: 5px;
        border: none;
        background-color:#f2e9de ;
        color:#286983;
    }

    #deleteButton {
        font-size: 15px;
        padding-top: 5px;
        border: none;
        margin: 5px;
        background-color:#f2e9de ;
        color:#286983;
    }

}
